{{#each item}}
<li class="feedback__item">
    <div class="feedback__list-name">{{ name }}
        <span class="feedback__list-content">{{ place }}</span>
        <span class="feedback__list-content">{{ date }}</span>
    </div>
    <div class="feedback__list-feedback">{{ feedback }}</div>
</li>
{{/each}}