* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

#map {
    width: 100vw;
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.modal {
    width: 380px;
    height: 525px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    top: 0;
    border-radius: 8px;
}

.modal__header {
    width: 100%;
    height: 44px;
    position: relative;
    color: #fff;
    background-color: #ff8663;
    padding: 0 14px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.modal__header-inner {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 330px;
}

.modal__main {
    position: relative;
    height: 470px;
    padding: 17px;
}

.modal__header-text {
    line-height: 2;
    font-size: 12px;
    font-weight: 500;
    padding: 2px;
}

.modal__input,
.modal__input,
.modal__textarea {
    width: 100%;
    height: 26px;
    font-size: 15px;
    color: #aeaeae;
    outline: none;
    padding: 13px 13px;
    margin-bottom: 14px;
    border: 1px solid #aeaeae;
    border-radius: 13px;
}

.modal__textarea {
    height: 134px;
    resize: none;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.save__btn {
    display: inline-block;
    padding: 10px 17px;
    color: #ffffff;
    background-color: #ff8663;
    float: right;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}

.btn-close {
    width: 15px;
    position: absolute;
    right: 15px;
    top: 16px;
    cursor: pointer;
}

.modal__form-label {
    text-transform: uppercase;
    color: #ff8663;
    font-size: 16px;
    letter-spacing: .035em;
    margin-top: 12px;
    margin-bottom: 12px;
}

.modal__main-feedbacks {
    height: 126px;
    overflow: auto;
}

.modal__input::placeholder,
.modal__textarea::placeholder,
.feedback__list-content {
    color: #aeaeae;
}

.feedback__list-feedback {
    font-size: 15px;
}

.feedback__list-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.feedback__list-name:last-of-type {
    margin-bottom: 0;
}

.feedback__item {
    margin-bottom: 10px;
}

.line {
    color: rgba(0, 0, 0, .3);
}

.hide {
    display: none;
}